.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #ffebec;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4rem;
    padding-top: 10rem;
    color: #991B1B;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 56rem;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}