.container {
    display: flex;
    width: 100%;
    max-width: 42rem;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    height: 2px;
    width: 80%;
    border-top-width: 2px;
    border-style: dashed;
    border-color: #991B1B;
}

@media (min-width: 768px) {
    .separator {
        width: 100%;
    }
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .title {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
}