.section {
    display: flex;
    width: 100%;
    max-width: 56rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    border: 1.25px solid #e5e5e5;
    border-radius: 0.75rem;
}

.container {
    display: flex;
    width: 100%;
    max-width: 42rem;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    margin-bottom: 0.5rem;
    border-bottom: 1.25px solid #991B1B;
}

.title {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
    border-bottom: 4px solid #991B1B;
    padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .title {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
}