.linkList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-left-width: 8px;
    border-left-color: transparent;
    padding-left: 0;
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .linkList {
        font-size: 1rem;
    }
}

.linkItem {
    display: flex;
    align-items: center;
    transition-duration: 300ms;
}

.linkItem:hover {
    opacity: 0.6;
}

.iconWrapper {
    margin-right: 0.5rem;
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    align-items: center;
    justify-content: center;
}

.iconImage {
    width: 1.25rem;
    height: 1.25rem;
}