.newsList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .newsList {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

.loadingContainer {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.newsItem {
    display: flex;
    gap: 1.25rem;
    overflow: hidden;
}

.date {
    flex-shrink: 0;
}