.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #ffebec;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #991B1B;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
    max-width: 56rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    background-color: #ffffff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    max-width: 28rem;
    border-radius: 0.75rem;
}

@media (min-width: 768px) {
    .image {
        width: 66.666667%;
    }
}

.credit {
    margin-top: 0.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .title {
        font-size: 3rem;
        line-height: 1;
    }
}

.description {
    text-align: center;
}

.link {
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration-line: underline;
    text-underline-offset: 4px;
    transition-duration: 300ms;
}

.link:hover {
    opacity: 0.6;
}