.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #ffebec;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #991B1B;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-height: 95vh;
    width: 100%;
    max-width: 56rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.75rem;
    background-color: #ffffff;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.section {
    display: flex;
    width: 100%;
    max-width: 42rem;
    flex-direction: column;
    gap: 1rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.title {
    text-align: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.subtitle {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

@media (min-width: 768px) {
    .subtitle {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

.worksListSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.workItemContainer {
    display: flex;
    border-radius: 0.75rem;
    padding: 0.25rem;
    transition-duration: 300ms;
}

.workItemContainer:hover {
    opacity: 0.6;
}

@media (min-width: 768px) {
    .workItemContainer {
        padding: 0.75rem;
    }
}

.workImage {
    width: 6rem;
    height: 6rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.workContent {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.workTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .workTitle {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.workDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #991B1B;
}

@media (min-width: 768px) {
    .workDescription {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.homeLink {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration-line: underline;
    transition-duration: 300ms;
}

.homeLink:hover {
    opacity: 0.6;
}